<!doctype html>
<html lang="es_MX">
<head>
  <meta charset="utf-8">
  <title>{{ blog.titulo }}</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<body>
<header>
  <h1>{{blog.titulo}}</h1>
  <p>{{blog.descripcion}}</p>
<header>
<article>
  <h1>{{articulo.titulo}}</h1>

</article>
</body>
</html>
