<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8" />
  <title>Página principal</title>
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@3.4.1/dist/css/bootstrap.min.css">
  <link rel="stylesheet" href="/assets/css/starter-template.css">
</head>
<body class="container">
  <nav class="navbar navbar-inverse navbar-fixed-top">
    <div class="container">
      <div class="navbar-header">
        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
          <span class="sr-only">Nous static web</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand" href="#">Nous static web</a>
      </div>
      <div id="navbar" class="collapse navbar-collapse">
        <ul class="nav navbar-nav navbar-right">
          <li><a href="#">Bienvenido(a): <%=usuario%></a></li>
          <li><a href="#">Rol: <%=rol%></a></li>
          <li><a href="/logout">Cerrar sesión</a></li>
        </ul>
      </div><!--/.nav-collapse -->
    </div>
  </nav>
  <div class="container">
    <div class="starter-template">
      <%if (rol == 'Administrador del sistema') { %>
        <h1>Acceso a módulo para creación o edición de contenido, diseño y marca</h1>
      <% }else if(rol == 'Proveedor de contenido'){ %>
        <h1>Acceso a módulo para creación o edición de contenido</h1>
      <% }else if(rol == 'Proveedor de diseño'){ %>
        <h1>Acceso a módulo para creación o edición de diseño</h1>
      <% } %>
      <table class="table table-sm">
        <thead>
          <tr>
            <th scope="col">#</th>
            <th scope="col">Módulo</th>
            <th scope="col">Tipo</th>
            <th scope="col">Acción</th>
          </tr>
        </thead>
        <tbody>
          <%if (rol == 'Administrador del sistema' || rol == 'Proveedor de contenido') { %>
          <tr>
            <th scope="row">1</th>
            <td>Blog</td>
            <td>Contenido</td>
            <td>
              <a class="btn btn-success btn-sm" href="/blog/contenido">Ver</a>
            </td>
          </tr>
          <% } 
          if (rol == 'Administrador del sistema' || rol == 'Proveedor de diseño') { %>
          <tr>
            <th scope="row">2</th>
            <td>Blog</td>
            <td>Diseño</td>
            <td>
              <a class="btn btn-default btn-sm" href="/blog/diseno" disabled>En desarrollo</a>
            </td>
          </tr>
          <% } 
          if (rol == 'Administrador del sistema' || rol == 'Proveedor de contenido') { %>
          <tr>
            <th scope="row">3</th>
            <td>Sitio web</td>
            <td>Contenido</td>
            <td>
              <a class="btn btn-success btn-sm" href="/sitio/contenido">Ver</a>
            </td>
          </tr>
          <% } 
          if (rol == 'Administrador del sistema' || rol == 'Proveedor de diseño') { %>
          <tr>
            <th scope="row">4</th>
            <td>Sitio web</td>
            <td>Diseño</td>
            <td>
              <a class="btn btn-default btn-sm" href="/sitio/diseno" disabled>En desarrollo</a>
            </td>
          </tr>
          <% } 
          if (rol == 'Administrador del sistema' || rol == 'Proveedor de diseño') { %>
          <tr>
            <th scope="row">5</th>
            <td>Imagen de marca</td>
            <td>---</td>
            <td>
              <a class="btn btn-default btn-sm" href="#" disabled>En desarrollo</a>
            </td>
          </tr>
          <% } %>
        </tbody>
      </table>
    </div>  
  </div>
</body>
</html>