<!doctype html>
<html lang="es_MX">
<head>
  <meta charset="utf-8">
  <title>{{ blog.titulo }}</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link href="output.css" rel="stylesheet">
</head>
<body class="bg-indigo-500">
<header>
  <h1>{{blog.titulo}}</h1>
  <p>{{blog.descripcion}}</p>
<header>
  {{#articulo}}
<article class="bg-primary">
  <h1>{{titulo}}</h1>
  {{#autors}}
  <h3>{{nombre}}</h3>
  {{/autors}}
  
  <small>{{fecha}}</small>
  {{#resumen}}
  <article>
    <h2>Resumen:</h2>
    <p>{{.}}</p>
  </article>
  {{/resumen}}
  {{#secciones}}
  <section>
    {{#titulo}}<h2>{{.}}</h2>{{/titulo}}
    {{#parrafos}}<p>{{.}}</p>{{/parrafos}}
  </section>
  {{/secciones}}
</article>
{{/articulo}}
</body>
</html>
